.header {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,  
            rgba($color-tertiary, 0.8),
            rgba($color-secondary-dark, 0.8),
            rgba($color-primary-light, 0.8),
        ), 
        url(../img/land-1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        font-size: 2.5rem;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}