.section-basic-elements {
    // background-color: $color-white-dark;
    padding: 25rem 0;
    margin-top: -10vh;

    &__links {
        margin-top: 0rem;
        margin-bottom: 5rem;
    }

    &__buttons {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    &__typographies {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    &__images {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    &__icons {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
}

.section-basic-elements__images .img {
    width: 18rem; 
    height: 18rem;
}