$color-danger: #f44336; 
$color-danger-light: #ff6659; // Uma tonalidade mais clara
$color-danger-dark: #d32f2f; // Uma tonalidade mais escura

$color-warning: #ff9800;
$color-warning-light: #ffc947; // Uma tonalidade mais clara
$color-warning-dark: #c66900; // Uma tonalidade mais escura

$color-success: #4caf50; 
$color-success-light: #80e27e; // Uma tonalidade mais clara
$color-success-dark: #087f23; // Uma tonalidade mais escura

$color-white: #ffffff; 
$color-white-light: #e7ecfc; // Branco puro
$color-white-dark: #ecf1ff;// Uma tonalidade mais escura


$color-primary: #445669;
$color-primary-light: #2c3e50;
$color-primary-dark: #1e2a38;

$color-secondary-light: #4a99d6;
$color-secondary: #2980b9;
$color-secondary-dark: #1e6b9b;

$color-tertiary-light: #d6a8ff;
$color-tertiary: #a569bd;
$color-tertiary-dark: #7d3c98;


$color-black-blue: #05070d;

$color-gray-dark: #323c46;
$color-gray: #a2a3a8;

$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;